

/*=========================================分割===============================================*/

@charset "gb2312";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

address, cite, dfn, em, var {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ul, ol {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset, img {
    border: 0
}

button, input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.blue {
    color: #0083ce !important;
}

.red {
    color: #e71a0f !important;
}

.gray9 {
    color: #999 !important;
}

.gray5e {
    color: #5e5e5e !important;
}

.graya5 {
    color: #a5a5a5 !important;
}

.black {
    color: #333 !important;
}

.gt {
    font-family: Simsun !important;
}

.f_a {
    font-family: Arial !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.m0 {
    margin: 0 !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.bold {
    font-weight: bold !important;
}

.line15 {
    line-height: 150% !important;
}

.fr {
    float: right !important;
}

a:hover {
    color: #0083ce;
}

.site-nav {
    z-index: 10000;
    width: 100%;
    background: #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
    *zoom: 1
}

.site-nav:after {
    content: "";
    display: table;
    clear: both
}

.site-nav .site-nav-bd {
    margin: 0 auto;
    width: 980px;
    height: 30px;
    background: #f8f8f8;
    -webkit-backface-visibility: hidden;
    *zoom: 1
}

.site-nav .site-nav-bd:after {
    content: "";
    display: table;
    clear: both
}

.site-nav .site-nav-bd .site-nav-bd-l .menu, .site-nav .site-nav-bd .site-nav-bd-r .menu, .site-nav .site-nav-bd .site-nav-bd-r .menu span {
    display: inline;
    float: left
}

.site-nav .site-nav-bd .site-nav-bd-l {
    display: inline;
    float: left
}

.site-nav .site-nav-bd .site-nav-bd-r {
    display: inline;
    float: right
}

/*edit by Dancy 20140306
.site-nav-bd .menu .menu-hd{z-index:10002;position:relative;padding:0;height:30px;line-height:30px;_display:inline;_zoom:1}*/
.site-nav-bd-r .menu_bd {
    width: 96px;
    position: absolute;
    left: -11px;
    top: 0px;
    background: #fff;
    z-index: 10001;
}

.site-nav-bd-r .menu_bd_panel {
    padding: 26px 0 0;
    border: #ddd 1px solid;
    display: block;
    float: left;
}

.site-nav-bd-r .menu_bd_panel li {
    float: left;
    width: 83px;
    padding: 0 0 0 11px;
    line-height: 24px;
    background: none;
    border-top: #ddd 1px dotted;
}

.mr5 {
    margin-right: 5px !important;
}

.site-nav-bd .menu div.menu-hd {
    z-index: 1000;
    position: relative; /* padding:0; */
    height: 30px;
    line-height: 30px;
    _display: inline;
    _zoom: 1
}

.site-nav-bd .menu .menu-hd a, .c_content .hd_provinceList li a {
    display: inline;
    float: left;
    font-size: 12px;
    color: #5e5e5e
}

.site-nav-bd .menu .menu-hd a:hover {
    color: #0083ce;
    text-decoration: underline;
}

.site-nav-bd .menu .menu-hd a span, .site-nav-bd .menu .menu-hd a em {
    display: inline;
    float: left;
    cursor: pointer
}

.favorite em, .tell em, .province_box, .province_name, .myyaowang {
    background: url(../images/cart/4.png) no-repeat right 0;
}

.favorite em, .tell em {
    background-position: -281px -63px;
    width: 17px;
    height: 20px;
    margin-top: 8px;
    overflow: hidden
}

.tell em {
    background-position: -290px -111px;
    width: 10px;
    margin-right: 4px;
}

.site-nav .site-nav-bd .site-nav-pipe {
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px
}

.site-nav-bd .site-nav-pipe {
    padding: 0 9px;
    font-style: normal;
    color: #e6e6e6;
}

.site-nav-bd .menu .province_box {
    background-position: right -147px;
    padding: 0 35px 0 0;
    margin-left: 14px;
}

.province_box span {
    float: left;
}

.province_name {
    background-position: right 8px;
    display: inline-block;
    padding: 0 15px 0 5px;
    height: 19px;
    line-height: 18px;
    border: #ddd 1px solid;
    background-color: #fff;
    margin: 5px 0 0 5px;
    font-weight: bold;
}

/*edit by Dancy*/
/*.province_name b{font-weight:normal;}*/
.hd_fold {
    background-position: -258px -6px;
    border-bottom: 0 none;
}

.myyaowang {
    background-position: -224px -21px;
    padding: 0 14px 0 0;
    position: relative;
    z-index: 10002;
}

.c_head, .c_content, .c_footer {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    padding-bottom: 20px;
    padding-top: 20px;
}

#logo .logo {
    color: #0083ce;
    display: inline-block;
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    position: relative;
    width: 180px;
}

#logo .logo .i {
    background: url(../images/cart/3.png) no-repeat 0 0;
    width: 180px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.c_content {
    position: relative;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both
}

.hidden, .hidden-msg {
    display: none
}

.number, .price {
    font-family: Tahoma, arial
}

.flow-steps {
    position: absolute;
    right: 0;
    top: -87px; /*edit by Dancy 20140319 *top:-67px */
}


.flow-steps {
    overflow: hidden;
    margin: 20px 0;
}

.flow-steps .num5 li {
    width: 175px;
}
.cartNeed .num5 li{
    width: 137px;
}
.flow-steps li {
    float: left;
    background: #f3f3f3 url(../images/cart/2.png) no-repeat right top;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #a5a5a5;
    padding: 0 15px 0 0;
    overflow: hidden;
}

.flow-steps li span, .flow-steps li strong {
    display: block;
}

.flow-steps li.current {
    background-color: #0083ce;
    color: #fff;
    font-weight: bold;
}

.flow-steps li.current .first {
    background-color: #0083ce;
    background-position: -12px -92px;
}

.flow-steps li.current-prev {
    background-position: 100% -32px !important;
}

.flow-steps li.done {
    background-color: #7fc1e6;
    background-position: 0 -32px;
    color: #fff;
}

.flow-steps li.flow-pre {
    background-position: 0 0;
}

.flow-steps li.last {
    background-image: none;
}

.flow-steps li.last-current {
    background-color: #f60;
    color: #fff;
    background-position: 100% -161px;
}

.cart-first-bar {
    font-family: "Microsoft YaHei";
    padding: 0 0 6px 0;
    line-height: 20px;
    height: 20px;
    *zoom: 1
}

.cart-first-bar:after {
    content: "";
    display: table;
    clear: both
}

.cart-first-bar .mycarttitle, .cart-first-bar .myneedtitle {
    color: #5e5e5e;
    font-size: 18px;
    float: left;
    cursor: pointer;
}

.cart-first-bar .mycarttitle.active, .cart-first-bar .myneedtitle.active {
    color: #0083CE;
    border-bottom: 2px solid #0083CE;
    padding-bottom: 5px;

}

.cart-first-bar .myneedtitle {
    margin-left: 10px;
}

.cart_note {
    color: #a5a5a5;
    float: right;
}

.cart_pay {
    float: right;
    margin-left: 3px;
    width: 38px;
    height: 20px;
}

.hd_provinceList {
    display: none;
    position: absolute;
    top: 24px;
    width: 280px;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #333;
    font-weight: 400;
    cursor: default;
    z-index: -1;
}

.site-nav-bd-l .hd_provinceList {
    left: 41px;
}

.hd_provinceList li {
    padding-left: 10px;
    line-height: 22px;
    color: #a5a5a5;
    font-weight: bold;
}

.hd_provinceList li i {
    display: inline-block;
    float: left;
    width: 10px;
    font-style: normal;
}

.site-nav-bd .menu .menu-hd .hd_provinceList li a, .c_content .hd_provinceList li a {
    margin: 0 5px 0 7px;
    padding: 1px 2px;
    float: none;
    font-weight: normal;
}

.cart-table-th .hd_provinceList {
    z-index: 2;
    text-align: left;
    top: 25px;
    left: 43px;
    height: 308px;
    overflow: scroll;
    width: 290px;
}

.site-nav-bd .menu .menu-hd .hd_provinceList li a:hover, .c_content .hd_provinceList li a:hover {
    background-color: #0083ce;
    color: #fff;
    text-decoration: none;
}

.footer {
    height: 90px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #a5a5a5;
}

.footer a {
    display: inline-block;
    margin: 0 5px;
    color: #a5a5a5;
}


/*===============================分割2===================================*/


.hide{ display:none !important;}
.site-nav { position:relative;}

.cart-main {
    position: relative;
    z-index: 2000;
}
.cart-table-th {
    margin-bottom: 10px;
    height: 34px;
    border: 1px solid #ececec;
}
.cart-table-th .wp {
    height: 34px;
    line-height: 34px;
    background: #f3f3f3;
    color: #666
}
.cart-table-th .th {
    float: left;
    text-align: center;
    _height: 30px
}
.cart-table-th .th-chk {
    font-size: 12px;
    color: #696969;
    text-align: left
}
.cart-table-th .th-chk .select-all {
    _margin-top: 6px
}
.cart-table-th .th-item {
    border-left: 0
}
.cart-table-th .th-location {
    position: relative;
}
.s-checkbox, .item-content .amount-msg em, .icon_zuhe, .icon_huodong, .icon_jian, .hd_bgicon, .lingqu, .ch_bgicon, .cart_pay a, .e_icon, .e_tbg {
    background: url(../images/cart/1.png) no-repeat -9999px -9999px;
}
.cartNeedNone_icon{
    background: url(//s.maiyaole.com/images/cart/needlistnone.png) no-repeat center;
}
.e_icon.cartNeedNone_icon{
    background-position: center;
}
.select-all {
    cursor: pointer
}
.cart-table-th .th-chk .s-checkbox {
    margin: -3px 6px 0 10px;
}
.th-chk {
    width: 62px
}
.td-item, .th-item {
    width: 300px
}
.th-item {
    width: 290px
}
.td-price, .th-price {
    width: 100px
}
.td-weight, .th-weight {
    width: 70px
}
.td-location, .th-location {
    width: 137px
}
.td-amount, .th-amount {
    width: 115px
}
.td-sum, .th-sum {
    width: 115px
}
.td-op, .th-op {
    width: 89px
}
.td-service-title {
    width: 360px
}
.item-first {
    padding-top: 0px;
}
.item-body {
    /*position: relative;
    z-index: 2;*/
    background-color: #eaf9ff;
}
.item-content {
    border-bottom: 1px solid #d1e9f2;
}
.item-normal .item-content {
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}
.no-stock .item-content {
    border-bottom: 1px solid #ececec;
}

.item-normal {
        background-color: #f3f3f3;
}
.item-normal .item-content li {
    background-color: #fff;
}
.item-content .item-amount {
    height: 21px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 90px;
}
.item-content .text-amount {
    width: 30px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #e6e6e6;
    color: #333;
    text-align: center;
    padding: 2px 0;
    background-color: #fff;
    z-index: 2;
}
.item-content .item-amount a {
    position: absolute;
    display: block;
    height: 12px;
    width: 12px;
    border: 1px solid #e6e6e6;
    background: #fff;
    text-align: center;
    line-height: 10px;
    color: #5e5e5e;
    top: 4px;
    font-size: 11px;
}
.item-content .item-amount .minus, .item-content .item-amount .no-minus {
    left: 0
}
.item-content .item-amount .no-plus, .item-content .item-amount .plus {
    right: 0
}
.item-content .item-amount .minus:hover, .item-content .item-amount .plus:hover {
    color: #5e5e5e;
    z-index: 3;
    border-color: #5e5e5e;
}
.item-content .item-amount a:hover {
    text-decoration: none
}
.item-content .item-amount .no-minus, .item-content .item-amount .no-plus {
    color: #e5e5e5
}
.item-content .item-amount .no-minus:hover, .item-content .item-amount .no-plus:hover {
    cursor: not-allowed;
    border-color: #e5e5e5;
    color: #e5e5e5
}
.item-body .item-content .td-amount {
    position: relative;
    overflow: visible;
}
.item-content .amount-msg {
    position: absolute;
    width: 140px;
    height: 22px;
    background-color: #fffccc;
    border: #ffe288 1px solid;
    left: -10px;
    top: -20px;
    color: #5e5e5e;
    z-index: 2;
    line-height: 20px;
    -webkit-box-shadow: 1px 1px 6px #e6e6e6;
    -moz-box-shadow: 1px 1px 6px #e6e6e6;
    box-shadow: 1px 1px 6px #e6e6e6;
    text-align: center;
}

.item-content .limit-tip-box {
    position: absolute;
    right: 16px;
    top: 40px;
    color: #FB5855;
    width: 180px;
    text-align: right
}

/* 

*/

.item-content .limit-tip-sign {
    line-height: 24px;
    width: 68px;
    text-align: center;
    display: block;
    background-color: #ff7500;
    color: #fff;
    
}

.item-content .amount-msg em {
    width: 11px;
    height: 9px;
    overflowh: hidden;
    background-position: 0 -40px;
    display: block;
    left: 60px;
    top: 22px;
    position: absolute;
}
.item-content .td {
    float: left;
    min-height: 82px;
    *height:82px;
}

*html .item-content .td {zoom: 1;}
*+html .item-content .td {zoom: 1;}
.item-content .td:after {
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}


.item-content .td-inner {
    padding-top: 16px;
    _zoom: 1;
    display: inline-block;
}
.item-content .td-amount .td-inner {position: relative;z-index: 1;}

.item-content .td-chk {
    text-align: left;
    position: relative;
    width: 44px;
}
.item-content .td-chk .s-checkbox {
    margin-top: 15px;
    margin-left: 10px;
}
.item-content .item-pic {
    width: 60px;
    height: 60px;
    float: left;
    margin-top: -6px;
    overflow: hidden;
}
.item-content .item-pic a {
    display: table-cell;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    *display:block;
    *font-family:Arial;
    *line-height:1;
    *font-size:50px
}
.item-content .item-pic img {
    max-height: 60px;
    max-width: 60px;
    vertical-align: middle
}
.td-item .item-info {
    float: left;
    padding: 0 15px 0 11px;
    width:220px;
}
.item-content .td-item {
    width: 308px;
}
.item-content .td-item span{float:left;}
.item-content .item-title {
    color: #333;
    font-size: 12px;
   /* width: 222px;
    display: block;
    max-height: 40px;*/
    line-height: 20px;
    margin-top: -2px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-content .item-title  .gift_name{width: 180px;height:20px;display: inline-block;overflow: hidden; text-overflow: ellipsis;white-space:nowrap;}
.item-content .modify_gift_txt{color:#0083ce; margin-left:15px;}
.item-content .item-title:hover, .item-content .td-op a:hover, .zuhe .item_zuhe .td a:hover, .todo_link:hover, .pay_bar .operations a:hover, .float_bar a:hover, .b_prod li .name a:hover {
    color: #0083ce
}
.item-content .td-price, .item-content .td-weight, .item-content .td-location, .item-content .td-sum, .item-content .td-op, .zuhe .item_zuhe .td-amount {
    text-align: center;
    font-family: tahoma, arial;
    color: #333
}
.item-content .td-price em, .item-content .td-sum em {
    font-family: arial;
    font-style: normal;
    margin-right: 1px
}
.item-content .td-op a {
    color: #a5a5a5;
    display: block;
}
.item_gift .td {
    min-height: 25px;
    *height:25px;
}
.zuhe .item-title {
    display: inline-block;
    float: left;
}
.icon_zuhe {
    background-position: -14px 2px;
    display: inline-block;
    width: 39px;
    height: 21px;
    overflow: hidden;
    text-indent: -999px;
    float: left;
    margin-right: 10px;
}
.zuhe .td-chk .s-checkbox {
    margin-top: 4px;
}

.zuhe .zuhe_first .td {
    min-height: 37px;
    *height:37px;
}
.zuhe .zuhe_first .td-inner {
    padding-top: 8px;
}
.zuhe .item_zuhe .td, .zuhe .item_zuhe .item-title, .zuhe .item_zuhe .td-price, .item_gift .td, .item-content .td-location {
    color: #a5a5a5;
}

.zuhe .zuhe_last .td, .huodong .huodong_last .td {
    padding-bottom: 10px;
}
.itme_huodong {
    background-color: #fffccc;
    border-top: #ffe288 1px solid;
    border-bottom: 1px solid #ffe288;
    margin-top: -1px;
    position: relative;
}
.itme_huodong .item-content {
    border-bottom: 0;
}
.icon_huodong, .icon_jian {
    background-position: -14px -41px;
    display: inline-block;
    width: 27px;
    height: 16px;
    overflow: hidden;
    text-indent: -999px;
    float: left;
    margin: 7px 7px 0 12px;
}
.icon_jian {
    background-position: -42px -41px;
}
.huodong_name {
    color: #5e5e5e;
    margin: 5px 0 8px 0;
    width: 920px;
}
.hd_bgicon {
    position: absolute;
    top: -7px;
    left: 18px;
    background-position: 0 -48px;
    display: inline-block;
    width: 14px;
    height: 7px;
    overflow: hidden;
}
.itme_huodong .s-checkbox {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}
.itme_huodong .item-pic {
    width: 28px;
    height: 28px;
    border: 1px solid #e6e6e6;
    float: left;
    overflow: hidden;
    margin-right: 5px;
}
.itme_huodong .item-pic a {
    display: table-cell;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    text-align: center;
    *display:block;
    *font-family:Arial;
    *line-height:1;
    *font-size:20px
}
.itme_huodong .item-pic img {
    max-height: 28px;
    max-width: 28px;
    vertical-align: middle
}
.itme_huodong .huodong_gift li {
    width: 290px;
    padding: 2px 0 10px 6px;
    float: left;
    line-height: 1.2;
    overflow: hidden;
}

.lingqu, .cart_pay a {
    background-position: -53px -20px;
    height: 20px;
    line-height: 120px;
    overflow: hidden;
    display: inline-block;
}
.lingqu {
    position: absolute;
    width: 43px;
    right: 23px;
    top: 38px;
}
.cart_pay a {
    width: 38px;
    float: right;
}
.no-stock .item-content li {
    background-color: #f3f3f3;
}
.float_bar, .pay_bar {
    background-color: #f8f8f8;
    color: #5e5e5e;
}
.float_bar .pay_bar {
    float: left;
}
.pay_bar .selected, .pay_bar .operations, .pay_bar .clearitem {
    position: absolute;
    width: 60px;
    float: left;
}
.pay_bar .operations {
    width: 80px;
    left: 76px;
}
.pay_bar .clearitem {
    width: 80px;
    left: 166px;
}
.pay_bar .operations a, .pay_bar .clearitem a {
    color: #5e5e5e;
}
.price_check_box {
    text-align: left;
    width: 340px;
    overflow: hidden; zoom:1;
}
.price_check_box .item {
    padding-top: 24px;
    margin-right: 15px;
    font-family: arial;
    float: left;
    line-height: 1.3;
}
.item span {
    font-family: tamoha, arial;
    font-size: 12px;
    margin-left: 2px;
}
.price_check_box .all {
    padding-top: 10px;
    color: #e71a0f;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
}
.price_check_box .all span, .c_p .all span {
    font-size: 18px;
}
.price_check_box .all .t, .c_p .all .t {
    color: #333;
}
.price_check_box .all strong, .c_p .all .strong {
    font-size: 16px;
    color: #333;
}
.item .t {
    font-size: 12px;
    font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
    line-height: 1.5;
}
.todo_link {
    margin-right: 20px;
    display: inline;
    color: #5e5e5e;
}
.bottom_prod {
    position: relative;
    width: 980px;
    height: 260px;
    overflow: hidden;
    margin-top: 10px
}
.b_tabs {
    border-bottom: 1px solid #e6e6e6;
}
.b_tabs li {
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
}
.b_tabs {
    float: left;
    width: 100%;
    height: 29px;
    border-bottom: #ddd 1px solid;
    margin-bottom: -1px;
}
.b_tabs li {
    float: left;
    border-right: #ddd 1px solid;
    margin-right: 10px;
}
.b_tabs li a {
    float: left;
    color: #5e5e5e;
    font: normal 12px/28px Arial;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    padding: 0 10px;
}
.b_tabs .on a {
    height: 29px;
    color: #0083ce;
    font-weight: bold;
}
.b_tabs li a:hover {
    color: #0083ce;
    text-decoration: none;
}
.b_tabs .tab_title {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}
.b_tabs #title_last {
    border-right: none;
}
.b_prod {
    _float: none;
    height: 215px;
    margin: 1px 0 0;
    display: block;
    position: relative;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0 0;
    overflow: hidden;
    zoom: 1;
}
.b_prod li {
    float: left;
    width: 141px;
    display: inline;
    padding: 0 11px 10px;
}
.b_prod li img {
    width: 140px;
    height: 140px;
    vertical-align: middle;
}
.b_prod li p {
    float: left;
    width: 140px;
    color: #999;
}
.b_prod li .pic {
    width: 140px;
    height: 140px;
}
.b_prod li .name {
    font: 12px/18px Arial;
    height: 18px;
    overflow: hidden;
}
.b_prod li .name a {
    color: #333;
}
.b_prod li .name i {
    font-style: normal;
    color: #d00;
}
.b_prod li .price {
    padding-bottom:4px;
    color:#d00;
    font-size:12px;
    line-height: 20px;
    text-align: left;
}
.b_prod li .price i {
    padding: 0 6px 0 4px;
    font-style:normal;
    font-weight:bold;
    font-family: Arial;
}
.b_prod li .price del {
    color: #a5a5a5;
    font-family: Arial;
}
.b_prod li .buy a {
    float: left;
    width: 140px;
    height: 22px;
    line-height:22px;
    color: #fff;
    background-color: #e72418;
    text-align: center;
}
.b_prod li .buy a:hover, .b_prod li:hover .buy a {
    text-decoration: none;
    background-color: #d80000;
}
.cart-note {
    background-color: #fffccc;
    border: 1px solid #FFE288;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding: 0 10px;
    margin-top: 5px;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 6px #e6e6e6;
    -moz-box-shadow: 1px 1px 6px #e6e6e6;
    box-shadow: 1px 1px 6px #e6e6e6;
}
.ch_bgicon {
    background-position: 0 -57px;
    right: 12px;
    position: absolute;
    top: -7px;
    display: inline-block;
    width: 14px;
    height: 7px;
    overflow: hidden;
}
.cart-note .red {
    font-family: Arial;
    margin-left: 3px;
}
.cart_pay a {
    background-position: -15px -20px;
}
.float_bar {
    padding: 0 15px 0 0;
    text-align: right;
    border: 1px solid #e6e6e6;
    bottom: 0;
    z-index: 1000;
    width: 963px;
}
.float_bar .cartOperation { float: left; padding:24px 10px 0 0; line-height:1.5; margin-bottom: 0; height:36px;}
.float_bar .cart-checkbox span { left: 0;}
.floating {
    position: fixed;
    z-index: 9999;
}
.huodong .item_gift .td {
    min-height: 25px;
    background-color: #FFFCCC;
}
*+html .huodong .item_gift .td {
    height: 25px;
}
*html .huodong .item_gift .td {
    height: 25px;
}
.huodong .item_gift .td-chk {
    text-align: right;
}
.empty_box {
    border-top: #a5a5a5 2px solid;
    background-color: #fff;
    min-height: 220px;
    *height:220px;
    width: 980px;
    text-align: center;
}
.e_inner {
    float: left;
    margin: 64px 0 0 276px;
    _display: inline;
}

.empty_box .e_inner_logout {
    float: none;
    clear: both;
    margin: 64px auto 0;
    width: 320px;
    overflow: hidden;
    zoom:1;
}
.emptyLink{
    text-align: center;
    clear: both;
}
.e_icon {
    float: left;
    background-position: -16px -287px;
    left: 12px;
    width: 120px;
    height: 64px;
    overflow: hidden;
}
.e_text {
    float: left;
    display: inline-block;
    background-color: #eaf9ff;
    border: #e6e6e6 1px solid;
    height: 34px;
    line-height: 34px;
    margin: 11px 10px 0 3px;
    padding: 0 10px;
}
.e_tbg {
    float: left;
    background-position: 0px -287px;
    display: inline-block;
    width: 13px;
    height: 13px;
    overflow: hidden;
    margin-left: -23px;
    margin-top: 12px;
}
.xg {
    margin: 5px auto;
    text-align: center;
}
.modify {
    position: absolute;
    top: 10px;
    right: 33px;
    color: #A5A5A5;
}
.modify:hover {
    color: #0066cc;
}
.floating .todo_link {
    display: none;
    *display:inline;
}
.delete {
    position: absolute;
    top: 31px;
    right: 33px;
    color: #A5A5A5;
}
.delete:hover {
    color: #0066cc;
}
.btn-reduce, .btn-plus, .noReduce, .noPlus {
    width: 21px;
    height: 21px;
    margin: 0 2px 0 2px;
    border: none;
    background-color: transparent;
    background-image: url(//s.maiyaole.com/images/cart/icon_cart.png);
    vertical-align: top;
    cursor: pointer;
}
.btn-reduce {
    background-position: 0 0;
}
.btn-plus {
    background-position: 0 -28px;
}
.noReduce {
    background-position: -29px 0;
}
.noPlus {
    background-position: -29px -28px;
}
.c_content .hd_provinceList {
    left: 0;
    top: 26px;
    z-index: 10005;
}
.t-location {
    position: absolute;
    right: 252px;
    top: 32px;
    z-index: 5;
}
.c_content .province_name {
    position: relative;
    color: #5E5E5E;
    top: 0px;
    margin-left: 0px;
}
.c_content .hd_fold {
    z-index: 10006;
}
.cart-note {
    zoom:1;
    *display:inline;
}
.td-item .item-info, .cart_pay {
    *display:inline;
}
.cart-first-bar li {
    vertical-align: middle;
}
.itme_huodong .huodong_gift {
    padding-left:18px;
    width: 960px;
    *padding-bottom:10px;
}
.itme_huodong .huodong_gift li {
    display: inline-block;
}
.itme_huodong .lingqu{ top:10px;}
.itme_huodong .delete{ top:35px;}
.item_gift .td {
    background-color: #FFFCCC;
    /*overflow: hidden;*/
}
.c_content .t-location {
    z-index: 1005;
}
.todo_link {
    white-space: nowrap;
}
.item_gift .td {
    *height:auto;
}
.zuhe .zuhe_first {
    background-color: #EAF9FF;
}
.item_gift {
    background-color: #FFFCCC;
}
/*may_need*/

.bfd_dt_out {
    border: 1px solid #dbdbdb;
    margin: 20px 0;
    overflow: hidden;
    width: 980px;
}
.bfd_dt_title {
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    width: 978px;
}
.bfd_dt_1_t {
    float: left;
    line-height: 30px;
    margin-left: 10px;
}
.bfd_recTitle {
    font-weight: bold;
}
.bfd_dt_1_l {
    float: right;
    margin-right: 10px;
}
a.bfd_img_logo {
    background: url(http://static.baifendian.com/themes/logo/bfd_logo_ch.gif) no-repeat 0 0;
    cursor: default;
    display: block;
    float: right;
    height: 13px;
    margin: 13px 1px 0 0;
    overflow: hidden;
    width: 101px;
}
.bfd_dt_out ul {
    overflow: hidden;
    zoom: 1;
}
.bfd_sc_li1 {
    display: inline;
    float: left;
    margin: 12px 9px 0;
    padding-bottom: 10px;
    width: 145px;
}
.bfd_sc_li1 a {
    display: inherit;
    height: 192px;
    color: #333;
}
.bfd_sc_li1 a:hover {
    color: #0083ce;
}
.bfd_sc_li1 a span {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.bfd_sc_li1 p a img {
    height: 140px;
    width: 140px;
}
.price {
    text-align: center;
}
.bfd_ls_price {
    color: #d00;
    font: bold 16px Arial;
    margin-right: 10px;
}
.bfd_ls_del {
    color: #999;
    line-height: 20px;
    margin-left: 4px;
    text-decoration: line-through;
}
/*itemHeShop*/

.orderHolder {
    border: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}
.cart-checkbox {
    margin: 0 8px 0 10px;
    position: relative;
    width: 13px;
    height: 13px;
    float: left;
}
.cart-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    z-index: 0;
    padding: 0;
    margin: 0;
}
.cart-checkbox span {
    cursor: pointer;
    height: 13px;
    line-height: 200em;
    background: url(//s.maiyaole.com/images/cart/icon_cart.png) no-repeat left -87px;
    overflow: hidden;
    position: absolute;
    width: 13px;
    z-index: 1;
}
.cart-checkbox-selected span {
    background: url(//s.maiyaole.com/images/cart/icon_cart.png) no-repeat left -62px;
}
.itemHeShop {
    border-bottom: 1px solid #ececec;
    line-height: 37px;
    font-size: 14px;
}
.itemHeShop .makePoint {
    color: #666;
}
.itemHeShop .makePoint:hover {
    text-decoration:underline;
}
.hide{ display:none !important;}
.fare_cost{ float:right; margin-right:20px; font-size:12px; color:#767676;}
.fare_cost .warm_ico{ position:relative; margin-left:20px;}
.fare_cost .warm_ico i{ width:18px; height:18px; line-height:18px; text-align:center; border-radius:10px; border:1px solid #ff7500; display:inline-block; background:#ffcf00; color:#ff7500; font-family:"微锟斤拷锟脚猴拷"; cursor:pointer;}
.fare_cost .to_cd{font-weight:bold; color:#e82b21;}
.fare_cost .warm_info{ position:absolute; background:#ffcf00; line-height:16px;border-radius:5px; color:#e82b21; top:-100px; right:-73px; display:none;}
.fare_cost .warm_info p{ display:block; width:270px; position:relative; padding:20px; height:48px; position:relative;}
.fare_cost .warm_info p a{ color:#fff;}
.fare_cost .warm_info p .arrow_ico{ width:310px; height:12px; display:inline-block; background:url(//s.maiyaole.com/images/cart/warm_arrow.png) no-repeat 215px 0; position:absolute; bottom:-11px;right:0;}

.itemHeShop .cart-checkbox {
    margin: 13px 8px 0 10px;
}
.td-inner .cart-checkbox {
    margin-top: 15px;
}
.huodong_gift .cart-checkbox {
    margin-top: 10px;
}
.zuhe .cart-checkbox {
    margin-top: 5px;
}
.select-all .cart-checkbox {
    margin-top: 12px;
}
.topTitle {
    margin-right: 10px;
}
.iconTit {
    background: url(//s.maiyaole.com/images/cart/icon_cart.png) no-repeat -35px -50px;
    padding-left: 10px;
    display: inline-block;
    position: relative;
    margin-right: -1px;
}
.topTitle .text {
    background-color: #fffccc;
    border: 1px solid #ffe288;
    font-size: 12px;
    color: #5e5e5e;
    padding: 2px 10px;
}
.topTitle .text strong b{
    font-family: Arial, Helvetica, sans-serif;
}

.topTitle .text a{
    color: #5e5e5e;
}
.huangou {
    background-color: #ffaa00;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}
.huangou:hover{
    color: #fff;
}
.dianzongji {
    padding: 10px 0;
    width: auto;
    float: right;
}
.dianzongji li {
    float: left;
    width: 78px;
    text-align: center;
    line-height: 1.7;
    color: #666;
}
.dianzongji li span {
    display: block;
    font-weight: bold;
}
.dianzongji li span b{
    font-family: Arial, Helvetica, sans-serif;
}
.cartOperation {
    margin-bottom: 7px;
    clear: both;
    overflow: hidden;
    zoom: 1;
}
.cartOperation li {
    float: left;
    margin-right: 10px;
    color: #5e5e5e;
}
.cartOperation li.fr a {
    color: #a5a5a5;
}
.cartOperation li a {
    color: #5e5e5e;
}
.cartOperation li .cart-checkbox {
    margin-top: 3px;
}
.c_pay {
    padding-top: 10px;
    float: right;
}
.c_pay li {
    float: right;
    font-size: 16px;
    color: #a5a5a5;
}
.c_pay li.wrap_btn { padding-top: 2px;}
.c_pay li.item {
    line-height: 42px;
    font-size: 16px;
    font-family:"Microsoft YaHei",tahoma,arial,锟斤拷锟斤拷;
}
.c_pay li.item b {
    color: #e71a0f;
    font-weight: normal;
    margin-left: 10px;
    font-family: arial;
}
.c_pay li.item span {
    color: #e71a0f;
    font-size: 24px;
    font-family: arial;
    font-weight: bold;
    vertical-align: middle;
}
.wrap_btn {
    float: right;
}
.btn_order {
    background-color: #e71a0f;
    display: inline-block;
    width: 135px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei",tahoma,arial,锟斤拷锟斤拷;
    font-weight: bold;
    border-bottom: 3px solid #aa0000;
    overflow: hidden;
    vertical-align: middle;
    color: #fff;
}
.wrap_btn .btn_order:hover {
    background-color: #d80000;
    border-bottom: 3px solid #d80000;
    color: #fff;
    text-decoration: none;
}
.huodong_gift li p.pname {
    height: 30px;
    vertical-align: middle;
    display: table-cell;
}
*+html .huodong_gift li p.pname {
    display: inline;
}

.huodong_gift li p.pname a { vertical-align:middle;}
.huodong_gift li p.pname .shop_add { display:inline-block; vertical-align:middle;}
.huodong_gift li p.pname .shop_add input {float:left; margin:0;}
.shop_add .text-amount { border:1px solid #e6e6e6; border-left:0; border-right:0; padding:2px 0; text-align:center; background-color:#fff; height:15px; width:30px; color:#333;}


#redemptionItemsInfo li .name a,#redemptionItemsInfo li .pic a { cursor: default; text-decoration: none; color: #333;}

#bfd_show_ar .bfd_ls_del{ font-family: Arial, Helvetica, sans-serif;}




.pop_inr .colorList a .iconSelect,
.pop_inr dl .selectBox {background:url(//s.maiyaole.com/images/product/icon_detail.png) no-repeat;}


.result_txt { font-size:12px;}
.result_txt i { font-style:normal; margin:0;}
.result_txt p { float: left; margin-right: 10px; color:#a5a5a5;}
.result_txt .revise_div,.item_gift .revise_div{ float:left; position:relative;}
.result_txt a { display:inline-block; color:#0083ce; line-height:20px;}
.result_txt .pop_info,.item_gift .pop_info{ position: absolute; left: 50%; margin-left:-120px; top: 20px; width:240px; padding-top:4px; display:none; z-index:2;}
.pop_bg { position:fixed; width:100%; height:100%; background-color:#000;opacity: 0;filter: alpha(opacity=0); display:none; left:0; top:0; z-index:1;text-indent:-9999px;}
.result_txt .open ,.item_gift .open{ display:block;}
.result_txt .pop_info .i_arrow ,.item_gift .pop_info .i_arrow{ position:absolute; top:-5px; left:50%; margin-left:-4px; background: url(//s.maiyaole.com/images/cart/icon_cart.png) no-repeat -38px -96px; display:block; width:8px; height:5px; text-indent:-9999px;}
.result_txt .pop_info .pop_inr,.item_gift .pop_info .pop_inr { border:1px solid #dbdbdb; background-color:#fff; padding: 10px 0 20px; position:relative;}
.pop_inr dl { line-height:34px; padding: 5px 0; clear: both;}
.pop_inr dl li { background:none; }
.pop_inr .colorList li {float:left; width:45px; height:45px; padding: 0 12px 5px 0;}
.pop_inr .colorList li a {border: 1px solid #e6e6e6;width: 43px;height: 43px;display: block;position: relative;}
.pop_inr .colorList li a img { width:43px; height:43px;}
.pop_inr dl dt {float: left;width: 55px;clear: left;text-align: right; color:#5e5e5e;}
.pop_inr dl dd { padding-left:60px;}
.pop_inr .colorList a .iconSelect {position: absolute;right: 0;bottom: 0;width:18px;height:15px;display:none;background-position:0 -602px; text-indent:-9999px;}
.pop_inr .colorList .select-pro a .iconSelect { display:block;}
.pop_inr .colorList .select-pro a,.pop_inr .colorList li a:hover { border:1px solid #e72418;}
.pop_inr .colorList .select-quehuo a,
.pop_inr .colorList .select-quehuo a:hover { border:1px solid #e6e6e6; cursor:no-drop;}
.pop_inr .colorList .select-quehuo a img {opacity: 0.5;filter: alpha(opacity=50);}
.btn_div { padding: 10px 0 0 60px;}
.btn_div a { display:block;width:86px; line-height:29px; background-color:#0099f1; border-bottom:2px solid #0083ce; font-size:12px; color:#fff; font-weight:bold; text-align:center; text-decoration:none;}
.btn_div a:hover { background-color:#0083ce;}
.btn_div .grey_btn { background-color:#ccc; border-bottom:2px solid #bbb;pointer-events:none;cursor:default;}
.btn_div .grey_btn:hover { background-color:#bbb;border-bottom:2px solid #bbb;}

.pop_inr dl .selectBox {width: 106px;position: relative;background-position: 74px -860px;}
.pop_inr dl .selectBox .selectvalue {position: absolute;top: 38px;left: 0;z-index: 8;background-color: #fff;width: 104px;border: 1px solid #e6e6e6;border-top: none;display: none;height: 200px; overflow:hidden;overflow-y: scroll;}
.pop_inr dl .selectBox .selectvalue li {padding-left: 13px;font-size: 14px;line-height: 30px;}
.pop_inr dl .selectBox .selectvalue li.hover {background-color: #0083ce;color: #fff;}
.pop_inr dl .selectBox .selectvalue li.quehuo {color: #ccc;cursor: no-drop;}
.pop_inr dl .selectBox .selected {padding-left: 10px;border: 1px solid #e6e6e6;font-size: 14px;height: 38px;line-height: 38px;}
/*锟斤拷锟斤车锟脚伙拷*/
.bottomTitle{float: right;margin:16px 10px 0 0;height:28px;line-height:28px;background: #FEFCCB;border: 1px solid #FAE28A;padding: 0 5px 0 10px;}
.bottomTitle .text{float: left}
.bottomTitle .to_cd{display:none;float: right;width: 60px;height: 20px;line-height: 20px;text-align: center;
    background: #E22007;color: #fff;margin:4px 0 0 10px;}
.price_check_box.addsty{width: 470px;}
.price_check_box.addsty .total_item{font-family: "Microsoft YaHei",tahoma,arial,微锟斤拷锟脚猴拷;font-size: 16px;
    line-height: 42px;color: #a5a5a5;padding:12px 0 0 10px;}
.price_check_box.addsty .total_item .cost_warm{ font-size:12px; font-weight:normal;}
.price_check_box.addsty .total_item b{ color: #e71a0f;font-family: arial;font-weight: normal;
    margin-left: 10px;}
.price_check_box.addsty .total_item span{color: #e71a0f;font-family: arial;font-size: 18px;font-weight: bold;vertical-align: top;}
.btn_order.goshopping{color: #E41C0C;border: 1px solid #E41C0C;background: #fff;font-weight: normal;height: 39px}
.btn_order.goshopping:hover{border-bottom: 1px solid #d80000}
/*锟脚伙拷券*/
.itemHeShop .coupon{width: 80px;height: 28px;margin: 5px 0 0 10px;float: left;font-size: 12px;position: relative;z-index:999;background: url(//s.maiyaole.com/images/cart/icon0714.png) no-repeat 0 0;}
.itemHeShop .coupon.selected{background: url(//s.maiyaole.com/images/cart/icon0714.png) no-repeat 0 -28px;}
.itemHeShop .coupon .ic{display: none;position: absolute;left: 0;top:28px;width:400px;height: 10px;
    background: url(//s.maiyaole.com/images/cart/icon0714.png) no-repeat 30px -64px;z-index: 99}
.itemHeShop .coupon .coup_pop{display: none;position: absolute;left: 0;top:33px;width:477px;border: 1px solid #EA211A ;padding:4px 0 0 5px ;height: 114px;z-index: 9;background: #fff;overflow-y:auto;}
.itemHeShop .coupon .coup_pop li{margin: 10px 0 0 10px;width:220px;float: left; height: 42px;color: #fff;background-image: url(//s.maiyaole.com/images/cart/bg0715.png);}
.itemHeShop .coupon .coup_pop li.blue{background-position: 0 0}
.itemHeShop .coupon .coup_pop li.orange{background-position: 0 -42px}
.itemHeShop .coupon .coup_pop li.red{background-position: 0 -84px}
.itemHeShop .coupon .coup_pop li span{float: left;color: #fff;line-height: 42px;font-family: "Microsoft YaHei"}
.itemHeShop .coupon .coup_pop li .sp1{padding-left: 10px;font-size: 20px;font-weight: bold;width: 50px}
.itemHeShop .coupon .coup_pop li .sp1 em{font-size: 14px;padding-right: 5px}
.itemHeShop .coupon .coup_pop li .sp2{width: 98px;font-size: 14px;line-height: 16px;padding-top: 7px}
.itemHeShop .coupon .coup_pop li .sp2 i{font-size: 12px;font-style: normal;}
.itemHeShop .coupon .coup_pop li .sp3{width: 60px;text-align: center}
.itemHeShop .coupon .coup_pop li a{text-decoration: none;line-height: 42px;color: #fff;font-family: "Microsoft YaHei"}


/******锟斤拷锟斤拷锟斤拷*****/
.haitao{
    float: left;
    margin-right: 5px;
    margin-top:2px;
    font-family: 锟斤拷锟侥猴拷锟斤拷;
    font-size: 12px; 
    line-height: 18px;
    text-align: center; 
    width: 47px;
    height: 18px; 
    background-image: url(//s.maiyaole.com/images/common/activity/haiwaigou.png);
    color: #9c27b0;
}

/******锟斤拷锟斤拷系锟斤拷品CSS*****/
.pop_inr .taocan a .iconSelect,
.pop_inr dl .selectBox {background:url(//s.maiyaole.com/images/product/icon_detail.png) no-repeat;}

.pop_inr .taocan li {
    margin: 0 10px 0 0;
    padding: 2px 0 9px;
    display: block;
    float: left;
    min-width:auto\0;
    min-width: 45px;
    line-height: 1.2;
}

.pop_inr .taocan li a {
    padding: 0;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e6e6e6;
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    color: #5e5e5e;
    min-width: 43px;
    white-space: nowrap;
    overflow: hidden;
    zoom: 1;
}

.pop_inr .taocan li a span.num {
    padding: 0 6px;
    font-weight: normal;
    color: #5e5e5e;
}

.pop_inr .taocan li a em {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    color: #5e5e5e;
    padding: 0 9px;
}

.pop_inr .taocan li a .ptext {
    padding: 0 4px;
    display: block;
    cursor: pointer;
    width:100%;
}

.pop_inr .taocan li a .iconSelect {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.pop_inr .taocan li a:hover {
    border: 1px solid #e72418;
    color: #e72418;
}

.pop_inr .taocan li.select-pro a {
    border: 1px solid #e72418;
    color: #e72418;
}

.pop_inr .taocan li.select-pro a .ptext {
    display: block;
    text-align: center;
    width:100%;
}

.pop_inr li.select-pro a .iconSelect {
    display: block;
    background-position: 0 -602px;
    width: 18px;
    height: 15px;
}

.pop_inr .taocan li.default a,.pop_inr .colorList li.default a{
    border: 1px solid #e6e6e6;
    color: #666;
    cursor: default;
    opacity: .5;
}
.pop_inr .taocan li.default a:hover,.pop_inr .colorList li.default a:hover{
    border: 1px solid #e72418;
    color: #e72418;
    opacity: 1;
}
.pop_inr .taocan li a.default .ptext{
    cursor: default;
}
.result_txt .pop_info,.item_gift  .pop_info{
    width: 260px;
    margin-left: -130px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
/*pams*/
    .cart_layer_bg {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
        background: url(http://s.maiyaole.com/images/201306/images/gray_bg.png);
    }
    .cart_message_box {
        width: 470px;
        padding:30px 50px;
        background: #fff;
        position: fixed;
        left: 50%;
        margin-left: -285px;
        top: 40%;
        z-index: 9999;
        border-radius:5px;
    }
    .message_con {
        font-size: 14px;
        color: #333;
        padding:20px 0;
    }
    .cart_btn_div{ padding:20px 0; text-align:center}
    .cart_btn {
        width: 215px;
        height: 40px;
        background: #FD655D;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        line-height: 40px;
        border-radius:3px;
    }